<div class="col-lg-12 center">
	<div class="row centered-pills">
		<ul class="nav nav-pills">
			<li class="active"><a href="#">Dashboard</a></li>
			<li><a href="#people">People</a></li>
			<li><a href="#estimates">Estimates</a></li>
			<li><a href="#projects">Projects</a></li>
			<li><a href="#costings">Costings</a></li>
			<li><a href="#calendar">Calendar</a></li>
			<li><a href="#settings">Settings</a></li>
		</ul>
	</div>
	<div id="content" class="row centerThis">
	</div>
	<div class="row">
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   
	</div>
</div>
