<div class="col-md-6 col-md-offset-3">
	<div class="well">
		<p class="rightAlign">Already a member? <%= link_to "Sign in", new_session_path(resource_name) %></p>
		<br />
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>
		<div class="input-group input-group-lg">
			<span class="input-group-addon"><i class="icon-envelope"></i></span>
			<input type="text" class="form-control input-lg" name="user[email]" placeholder="Email">
		</div>
		<br />
		<div class="input-group input-group-lg">
			<span class="input-group-addon"><i class="icon-user"></i></span>
			<input type="text" class="form-control input-lg" name="user[username]" placeholder="Username">
		</div>
		<br />
		<div class="input-group input-group-lg">
			<span class="input-group-addon"><i class="icon-lock"></i></span>
			<input type="password" class="form-control input-lg" name="user[password]" placeholder="Password">
		</div>
		<br />
		<input type="submit" value="Sign Up" class="btn btn-primary centerThis "/>
		<div><%#= f.submit "Sign up" %></div>
		<% end %>

		<%#= render "devise/shared/links" %>
	</div>
</div>