<div class="col-lg-9 center">
	<div class="jumbotron">
		<h2>Welcome</h2>
		<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<div class="row centerThis">
			<%= link_to "Sign up", new_user_registration_path, :class => "btn btn-success btn-lg" %>
			<%= link_to "Sign in", new_user_session_path, :class => "btn btn-info btn-lg" %>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well centerThis">
			<i class="icon-bolt icon-4x">
			</i>
			<br />
			<strong>
				Feature 1
			</strong>
			<p>
				Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well centerThis">
			<i class="icon-money icon-4x">
			</i>
			<br />
			<strong>
				Feature 2
			</strong>
			<p>
				Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well centerThis">
			<i class="icon-bar-chart icon-4x">
			</i>
			<br />
			<strong>
				Feature 3
			</strong>
			<p>
				Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
			</p>
		</div>
	</div>
</div>
