.headerLogo{
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	font-family: 'Pacifico', cursive;
	padding-bottom: 20px;
	color: #c0392b;
}

.headerLogo .profit{

}

.headerLogo .pilot{

}

#push,
#footer {
  height: 60px;
}

#footer{
	background-color: #eee;
}

.well h2{
	color: #FFFFFF;
}

.centerThis{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.well a{
	text-decoration: none;
	color: #3498db
}

.rightAlign{
	text-align: right;
}

.center { float: none; margin-left: auto; margin-right: auto; }