.headerLogo{
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	font-family: 'Pacifico', cursive;
	padding-bottom: 20px;
	color: #3498db;
}

.headerLogo .profit{

}

.headerLogo .pilot{

}

#push,
#footer {
  height: 60px;
}

#footer{
	background-color: #eee;
}

.well h2{
	color: #FFFFFF;
}

.centerThis{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.well a{
	text-decoration: none;
	color: #3498db
}

.rightAlign{
	text-align: right;
}

.center { float: none; margin-left: auto; margin-right: auto; }

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */